@model IEnumerable<Arac>
@{
    ViewData["Title"] = "Satıştaki Tüm Araçlarımız";
}

<h1>Satıştaki Tüm Araçlarımız</h1>

<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col mb-5 ">
                <div class="card h-100 bg-info ">
                    <!-- Product image-->
                    <img class="card-img-top h-50  " src="/Img/Cars/@item.Resim1" alt="...">
                    <!-- Product details-->
                    <div class="card-body p-4 ">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">@item.marka.Adi @item.Modeli</h5>
                            <!-- Product price-->
                        @item.Fiyati TL
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/Arac/Index/@item.Id">Detayları gör</a></div>
                    </div>
                </div>
            </div>

        }
    </div>
</div> 