
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erişim Engellendi </title>
</head>
<body>
    <p>Bu Ekrana Erişiminiz Bulunmamaktadır</p>
</body>
</html>
